<!DOCTYPE html>
<html>
<head>
  {% load static %}
	<title>Admin Panel</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



  <style>
    .blank{
      width: 100%;
      height: 150px;
      
    }
   
    .b{
      width: 5px;
     
    }
     .form-control{
         font-size: 20px;
         border-radius: solid 5px;
     } 

     .modal{
	    width: 500px;
        height: 550px;
	    box-shadow: var(--shadow);
	    background: var(--lightblue);
        margin-left: 18%;
	    
	    border-radius: 10px;
	    text-align: center;
    }
    th{
      color:chartreuse;
      font-size: 25px;
    }
    td{
      color: rgb(0, 242, 255);
      font-size: 15px;
    }
   
   
  </style>
</head>


<body>

  <div class="sidebar">
    <h1 class="logo"><span>Admin</span></h1>
    <i class="fa fa-chevron-left menu-icon"></i>
  
    <ul class="sidenav">
      <li ><i class="fa fa-home"></i><a href="{% url 'admin_dash' %}"> Dashboard
        
  
        
      </a>
        
      </li>
  
      
      <li class="active"><i class="fa fa-shopping-bag"></i><a href="{% url 'dash_category' %}">Category</a></li>
      <li><i class="fa fa-cubes"></i><a href="#">Product
        <span class="span1"><i class="fa fa-angle-right"></i></span>
  
  
      </a>
    </li>
    <ul class="dropdown">
      <li><a href="{% url 'dash_product' %}"><span class="dot"></span> Add Product</a></li>
      <li><a href="{% url 'show_product' %}"><span class="dot"></span> Show Product</a></li>
      
    </ul>
      
      <li><i class="fa fa-shopping-cart" ></i><a href="{% url 'show_order' %}">Order
        
  
  
      </a>
      </li>
  
  
      <li><i class="fa fa-users"></i><a href="{% url 'show_user' %}"> User</a></li>
    </ul>
  
  </div>

<div class="main">
	<div class="main-top">
		<!-- <input type="text" name="" class="input" placeholder="Search"> -->
		<div class="top-right">
			
			<!-- <i class="fa fa-bell-o topicon bell"></i>
			<div class="notification-div">
			<p>Success!Your registration is now complete!</p>
			<p>Here's some information you may find useful!</p>			
		</div> -->

			<a href="{% url 'logout' %}" class="user1"><img src="{% static 'images/admin.png' %}" class="user">
				<div class="profile-div">
					<!-- <p><i class="fa fa-user"></i> &nbsp;&nbsp;Profile</p>
					<p><i class="fa fa-cog"></i> &nbsp;&nbsp;Settings</p> -->
					<p><i class="fa fa-power-off"></i> &nbsp;&nbsp;Log Out</p>
				</div>
			</a>
		</div>
		<div class="clearfix"></div>
	</div>

	</div>

  <div class="blank" ></div>

  <center>

<div  class="modal fade">
  <div class="modal-dialog">
      <div class="modal-content">
          <form method="POST" action="{% url 'edit_pro' product.id  %}" > {% csrf_token %}
              <div class="modal-header">						
                  <h2 class="modal-title " style="color: rgb(247, 130, 5);">Edit Product</h2>
                  <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
              </div>
              <div class="modal-body">	

                  
              <div class="input_field">
                <label>Category_Name </label>
                
                <select class="input" name="cat" >

                    
                        {% for i in cat %}
                        <option value="{{ i.id }}">{{ i.Category_Name }}</option>
                        
                      {% endfor %}
                      
                  </select>
        
               </div>
              
                <div class="input_field">
                  <label> Product_Name </label>
                  
                 
                  <input type="text"  class="input" name="pname"  value="{{ product.Product_Name }}" >
                </div>
                <div class="input_field">
                  <label> Product_Image </label>
                  <img src="{{product.Product_Image.url }}" class="inp_image" width="100px" height="100px">
                 
                   <input type="file"  type="file" name="file"  value=""  >
                 </div>
               
                 <div class="input_field">
                  <label> Product_Description </label>
                  
                 
                   <input type="text"  class="input" name="desp"   value="{{ product.Product_Description  }}"  >
                 </div>

                 <div class="input_field">
                    <label> Product_Price </label>
                    
                   
                     <input type="text"  class="input" name="price"   value="{{ product.Product_Price }}"  >
                   </div>

                   <div class="input_field">
                    <label>Product_Delprice </label>
                    
                   
                     <input type="text"  class="input" name="delprice"   value="{{ product.Product_Delprice  }}"  >
                   </div>
               
      
               

              </div>
              
                  <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                  <input type="submit" class="btn btn-info" value="Save">
              
          </form>
      </div>
  </div>
</div>

</center>
  







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".span1").click(function(){
    $(".dropdown").slideToggle(500);
  });
});

	$('.sidenav li').click(function(){
    $('.sidenav li').removeClass("active");
    $(this).addClass("active");
});
</script>

<script type="text/javascript">
	$(".menu-icon").click(function(e) {
        e.preventDefault();
        $(".menu-icon").toggleClass("menuicon");
        $(".main").toggleClass("main-width");
        $(".sidebar").toggleClass("active1");
        $(".sidenav li a").toggleClass("anchor");
        $(".sidenav li").toggleClass("lislide");
        $(".sidenav p").toggleClass("apphide");
        $(".logo span").toggleClass("headspan");
        $(".logo").toggleClass("lm");

});
</script>
<script>
$(document).ready(function(){
  $(".user").click(function(){
    $(".profile-div").toggle(1000);
  });
  $(".bell").click(function(){
    $(".notification-div").toggle(1000);
  });
});
</script>





</body>
</html>